form.filterform_plugin fieldset.filterform {
	display: table;
	width: 90%;
	margin-top: 15px;
	margin-bottom: 15px;
}

form.filterform_plugin .cell{
	display: table-cell;
	padding: 5px 10px;
}

form.filterform_plugin label.text {
	width: 100%;
}

form.filterform_plugin label.text input {
	width: 100%;
}

form.filterform_plugin label.row {
	display: block;
	padding: 5px 10px;
	text-align: left;
}

form.filterform_plugin div.group {
	text-align: left;
	font-weight: bold;
	padding: 5px 10px;
}

div.dokuwiki div.prevnext {
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	margin: 0px 0px 0.5em 1.5em;
	text-align: center;
	clear: both;
}

div.dokuwiki div.prevnext a {
	margin: 0px 0px 0.5em 0.5em;
}

div.dokuwiki div.prevnext a.selected {
	font-weight: bold;
}

div.dokuwiki div.prevnext .prev {
	float:left;
	width: 20%;
	text-align: left;
}

div.dokuwiki div.prevnext .next {
	float:right;
	width: 20%;
	text-align: right;
}

div.dokuwiki div.prevnext .disabled {
	color: #666;
}

/*my stuff*/

.day {background-color:lightblue; float:left; min-width:2em; text-align:center;}
.blank {background-color:#EEEEEE; float:left; min-width:2em;}
.sold {font-weight:bold;background-color:yellow;}
.past {color:lightgrey;}
.today {color:blue;}
.week {clear:both;}
.monthcal {padding:0.5em; float: left;}
.monthlabel{background-color:#FFEEFF; text-align:center; clear:both;}
.daylabels {clear:both;}
.daylabels div {background-color:#FFFF88; float:left; min-width:2em; text-align:center;}
.yeararea {}
.yearlabel {background-color:white;}

  /* tooltip styling. by default the element to be styled is .tooltip  */
  .tooltip {
    background:transparent url(images/black_big.png) no-repeat scroll 0 0;
    font-size:14px;
    height:153px;
    padding:30px;
    width:310px;
    font-size:14px;
    display:none;
    color:#fff;
  }
  

